* {
    padding: 0;
    margin: 0;
}

#cvs {
    display: block;
    background-color: #e9ecf5;
    margin: auto;
    border: 2px solid #a3c3d9;
}

table,
tr,
th,
td {
    border-collapse: collapse;
    width: 250px;
    border: 1px solid black;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    /* width: 500px; */
    max-width: 80%;
    height: 400px;
    max-height: 80%;
    transform: translate(-50%, -50%) scale(0);
    background-color: rgb(186, 247, 206);
    z-index: 10;
    border: 1px solid black;
    transition: 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.modal.activate {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 16px 16px 10px 16px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    height: 50%;
    padding-top: 24px;
    /* display: flex; */
    padding: 24px;
    justify-content: center;
    border-bottom: 2px solid black;
}
.modal-footer {
    display: flex;
    justify-content: center;
}

#overlay {
    position: fixed;
    background-color: #00000080;
    opacity: 0;
    transition: 0.2s ease-in-out;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    pointer-events: none;
}

#overlay.activate {
    opacity: 1;
    pointer-events: all;
}

.Pagenav {
    margin: 0 25px;
    margin-top: 3px;
    width: 10%;
    height: 25px;
    font-size: 2em;
    line-height: 0.6;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: 2px solid #000;
}
